<header>
    <h1>{{title}}</h1>
  </header>

<div class="todo-list">
    <form (submit)="addTodo()">
		<input 
			type="text"
			name="inputTodo"
			placeholder="I want to do..."
			class="todo-input"
			[(ngModel)]="inputTodo"
		/>
		<input type="submit" value="Add Todo" class="todo-submit" />
    </form>
    
    <div *ngFor="let todo of todoItems"  class="todo {{(todo.isDone ? 'done' : '')}}">
        <div class="id">{{todo.id}}</div>
        <div class="content">{{todo.note}}</div>
        <button class="delete" (click)="deleteTodo(todo.id)">Delete</button>
    </div>
</div>
